
.IssueBoardContainer {
  border: 5px solid lightgrey;
  background-color: tomato;
}

.IssueBoard {
  width: 400px;
  margin: 0 auto;
}

.IssueBoardItem {
  box-shadow: 3px 3px 3px lightgrey;
  padding: 20px;
  margin: 6px 0;
  background-color: white;
  list-style-type: none;
  &-buttonsWrapper {
    display: flex;
  }
  &-button {
    padding-right: 12px;
    cursor: pointer;
    color: blue;
  }
  &-inputsWrapper {
    display: flex;
    flex-direction: column;
  }
  &-input {
    margin: 12px 0;
  }
  &-headingText {
    text-align: center;
  }
}

.IssueBoardItemEditMode {
  border: 5px solid green;
}


