ul {
  list-style-type: none;
}

h4 {
  margin: 0;
}

.IssueBoardContainer {
  background-color: rgba(14, 47, 90, 0.07);
  padding-bottom: 20px;
}

.IssueBoard {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  &-headingText {
    text-align: center;
  }
}

.IssueBoardItem {
  box-shadow: 1px 1px 10px lightgrey;
  background-color: white;
  list-style-type: none;
  margin: 6px 0;
  width: 540px;
  border-radius: 3px;
  padding-top: 6px;
  &-buttonsWrapper {
    display: flex;
    background-color: #fafafa;
    border-top: 1px solid #f1f1f1;
    padding: 6px 12px;
  }
  &-inputsWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &-headingText {
    padding-left: 20px;
    margin: 12px 0;
    font-size: 21px;
  }
  &-input {
    margin: 12px 0;
    height: 35px;
    padding-left: 12px;
  }
  &-title {
    padding: 0 20px;
    font-size: 21px;
  }
  &-text {
    padding: 0 20px;
  }
  &-tags {
    padding: 0;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  &-tagsTitle {
    margin-right: 12px;
  }
}

.FilterTagsDropdown {
  margin: 12px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-title {
    margin: 12px;
  }
  &-dropdown {
    width: 210px;
    height: 25px;
  }
}

.TagSelectionInput {
  &-tagButtons {
    padding: 0;
  }
  &-input {
    height: 35px;
    padding-left: 12px;
  }
}

.Button {
  padding-right: 12px;
  cursor: pointer;
  border: 2px solid #f1f1f1;
  border-radius: 0px;
  padding: 6px;
  color: grey;
  background-color: white;
  margin: 6px 3px 6px 3px;
  &-tagDisplay {
    border-radius: 100px;
    color: steelblue;
    margin: 12px 6px;
  }
}